mixin sHouses(data)
	// start sHouses
	+b.SECTION.sHouses.section#sHouses&attributes(attributes)
		.container
			+breadcrumb(`ГЛАВНАЯ`,`ДОМА`)
			+e.title-wrap.wow(data-animate="animate__fadeIn" )
				h1 Дома
			.row
				+e.col.col-lg-6
					+house-item(`VIND`,`148`,`2`,`2`) 
				+e.col.col-lg-6
					+house-item(`FELT`,`180`,`2`,`2`) 
				+e.col.col-lg-6
					+house-item(`BARN`,`215`,`3`,`0`) 
				+e.col.col-lg-6
					+house-item(`JORD`,`220`,`4`,`2`) 
				+e.col.col-lg-6
					+house-item(`SKOG`,`260`,`5`,`4`) 
				+e.col.col-lg-6
					+house-item(`STEN`,`286`,`6`,`6`) 
	// end sHouses

mixin house-item(title,square,img,delay)
	+b.house-item.bg-wrap(  href="#"  )
		+pic(`house-item-${img}-sm.jpg`,`bg`,0).picture-bg.wow(data-animate="animate__fadeIn")
		.h3.wow(data-animate="animate__fadeIn"  )!=title
		+e.square.wow(data-animate="animate__fadeIn"  )
			+e.square-info!=square
			+e.square-title Общая площадь, м²
		+e.more.wow(data-animate="animate__fadeIn" )
			span Подробнее
			+icon(`chevron-right`)

//- mixin house-item(title,square,img,delay)
//- 	+b.house-item.bg-wrap.animate__animated.animate__zoomIn.animate__slow.animate__delay-1s(style=`--animate-duration: 400ms; --animate-delay:${delay}.0s;`)
//- 		+pic(`house-item-${img}.jpg`,``,0).picture-bg
//- 		h3.animate__animated.animate__zoomIn.animate__slow.animate__delay-1s(style=`--animate-duration: 200ms; --animate-delay:${delay}.4s;`)!=title
//- 		+e.square.animate__animated.animate__zoomIn.animate__slow.animate__delay-1s(style=`--animate-duration: 200ms; --animate-delay:${delay}.6s;`)
//- 			+e.square-info!=square
//- 			+e.square-title Общая площадь, м²
//- 		+e.more.animate__animated.animate__zoomIn.animate__slow.animate__delay-1s(style=`--animate-duration: 200ms; --animate-delay:${delay}.8s;` href="#")
//- 			span Подробнее
//- 			+icon(`chevron-right`)