mixin sHouses(data)
	// start sHouses
	+b.SECTION.sHouses.section#sHouses&attributes(attributes)
		.container
			+breadcrumb(`ГЛАВНАЯ`,`ДОМА`)
			+e.title-wrap.animate__animated.animate__fadeIn.animate__delay-1s
				h1 Дома
			.row
				.col-lg-6
					+house-item(`VIND`,`148`,`1`,`0`)
				.col-lg-6
					+house-item(`FELT`,`180`,`2`,`2`)
				.col-lg-6
					+house-item(`BARN`,`215`,`3`,`4`)
				.col-lg-6
					+house-item(`JORD`,`220`,`4`,`6`)
				.col-lg-6
					+house-item(`SKOG`,`260`,`5`,`8`)
				.col-lg-6
					+house-item(`STEN`,`286`,`6`,`10`)
	// end sHouses

mixin house-item(title,square,img,delay)
	+b.house-item.bg-wrap.animate__animated.animate__zoomIn.animate__slow.animate__delay-1s(style=`--animate-duration: 400ms; --animate-delay:${delay}.0s;`)
		+pic(`house-item-${img}.jpg`,``,0).picture-bg
		h3.animate__animated.animate__zoomIn.animate__slow.animate__delay-1s(style=`--animate-duration: 200ms; --animate-delay:${delay}.4s;`)!=title
		+e.square.animate__animated.animate__zoomIn.animate__slow.animate__delay-1s(style=`--animate-duration: 200ms; --animate-delay:${delay}.6s;`)
			+e.square-info!=square
			+e.square-title Общая площадь, м²
		+e.more.animate__animated.animate__zoomIn.animate__slow.animate__delay-1s(style=`--animate-duration: 200ms; --animate-delay:${delay}.8s;` href="#")
			span Подробнее
			+icon(`chevron-right`)